{% extends "layout.html" %}
{% block title %}Vesta | Explore{% endblock %}
{% block body %}
<div class="screen-width column-start-flex">
    <div class="screen-width center-row-flex page-title txt" style="font-size: 40px; margin-bottom: 2.5vh">Find a new home!</div>
    <div class="screen-width column-start-flex">
        <div class="screen-width center-row-flex">
            <form class="search-holder center-row-flex" action="/find" method="POST">
                <div class="search-section column-start-flex">
                    <div class="form-title full-width txt" style="margin-left: 2.5vw; font-weight: 600; margin-bottom: 1vh">Search</div>
                    <div class="start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="column-start-flex">
                            <div class="txt">City</div>
                            <input class="text-input" type="text" placeholder="New York" name="city" style="width: 15vw">
                        </div>
                    </div>
                    <div class="full-width start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="start-row-flex">
                            <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">People</div>
                            <input class="number-input" type="number" name="numppl" style="width: 4vw; height: 2vh">
                        </div>
                    </div>
                    <div class="full-width start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="start-row-flex">
                            <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Children</div>
                            <input type="checkbox" style="margin-top: .5vh" name="children">
                        </div>
                    </div>
                    <div class="full-width start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="column-start-flex">
                            <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Amenities</div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: 1vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">WiFi</div>
                                    <input type="checkbox" style="margin-top: .8vh" name="wifi">
                                </div>
                            </div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: 1vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Heat</div>
                                    <input type="checkbox" style="margin-top: .8vh" m"heat">
                                </div>
                            </div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: 1vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">AC</div>
                                    <input type="checkbox" style="margin-top: .8vh" name="ac">
                                </div>
                            </div>
                        </div>
                        <div class="column-start-flex">
                            <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px"></div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: 1vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Pets</div>
                                    <input type="checkbox" style="margin-top: .8vh" name="pets">
                                </div>
                            </div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: 1vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Babies</div>
                                    <input type="checkbox" style="margin-top: .8vh" name="babies">
                                </div>
                            </div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: 1vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Smoking</div>
                                    <input type="checkbox" style="margin-top: .8vh" name="smoking">
                                </div>
                            </div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: 1vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Noise</div>
                                    <input type="checkbox" style="margin-top: .8vh" name="noise">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-section column-start-flex">
                    <div class="form-title full-width txt" style="margin-left: 2.5vw; font-weight: 600; margin-bottom: 1vh"></div>
                    <div class="start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="start-row-flex">
                            <div class="txt">Min bathrooms</div>
                            <input class="number-input" type="number" name="baths" style="width: 3vw; margin-left: 1vw">
                        </div>
                    </div>
                    <div class="start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="start-row-flex">
                            <div class="txt">Min bedrooms</div>
                            <input class="number-input" type="number" name="beds" style="width: 3vw; margin-left: 1vw">
                        </div>
                    </div>
                    <div class="start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="start-row-flex">
                            <div class="txt">Min Rent</div>
                            <input class="number-input" type="number" name="minrent" style="width: 3vw; margin-left: 1vw">
                        </div>
                    </div>
                    <div class="start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="start-row-flex">
                            <div class="txt">Max Rent</div>
                            <input class="number-input" type="number" name="maxrent" style="width: 3vw; margin-left: 1vw">
                        </div>
                    </div>
                    <div class="full-width start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="start-row-flex">
                            <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Furnished</div>
                            <input type="checkbox" style="margin-top: .5vh" name="furnished">
                        </div>
                    </div>
                    <div class="full-width start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="column-start-flex">
                            <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px; margin-bottom: 1vh">Spaces</div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: 1vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Elevator</div>
                                    <input type="checkbox" style="margin-top: .8vh" name="elevator">
                                </div>
                            </div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: .5vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Gym</div>
                                    <input type="checkbox" style="margin-top: .8vh" name="gym">
                                </div>
                            </div>
                            <div class="column-start-flex">
                                <div class="full-width start-row-flex" style="margin-top: .5vh">
                                    <div class="txt" style="margin-right: 1vw; height: 2vh; font-size: 17px; line-height: 20px">Workspace</div>
                                    <input type="checkbox" style="margin-top: .8vh" name="workspace">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-section column-start-flex">
                    <div class="form-title full-width txt" style="margin-left: 2.5vw; font-weight: 600; margin-bottom: 1vh"></div>
                    <div class="start-row-flex" style="margin-left: 2.5vw; margin-bottom: 1vh">
                        <div class="column-start-flex">
                            <div class="txt" style="margin-bottom: 1vh">Access</div>
                            <select name="access" class="select" style="width: 10vw">
                                <option value="anyacc">Any</option>
                                <option value="whole">Whole place</option>
                                <option value="privroom">Private room</option>
                                <option value="sharedroom">Shared room</option>
                            </select>
                            <div class="txt" style="margin-bottom: 1vh">Type</div>
                            <select name="access" class="select" style="width: 10vw">
                                <option value="anytype">Any</option>
                                <option value="apt">Apartment</option>
                                <option value="house">House</option>
                            </select>
                            <div class="full-width start-row-flex" style="margin-top: 2vh">
                                <input class="submit-button" type="submit" value="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="screen-width center-row-flex page-title txt" style="font-size: 15px; margin-bottom: 5vh">Check out these featured homes</div>
        {% for home in homes %}
        <div class="screen-width center-row-flex">
            <div class="home-holder start-row-flex">
                <img src="static/photos/{{ home[24][0] }}"class="home-img"></img>
                <div class="info-holder column-start-flex">
                    <div class="home-title txt" style="margin-bottom: 3vh">{{ home[28] }}</div>
                    <div class="home-info txt" style="margin-bottom: 3vh">A {{ home[2] }} {{ home[1] }} in {{ home[32] }}, {{ home[8] }}</div>
                    <div class="home-info txt">A {{ home[6] }} bedroom, {{ home[7] }} baths {{ home[1] }} for {{ home[3] }} guest{% if home[3] > 1 %}s{% endif %}</div>
                </div>
                <div class="home-title full-height column-center-flex txt" style="width: 20%">
                    <div class="home-title" style="margin-bottom: 3vh">${{ home[5] }}/Month</div>
                    <div class="home-title">Contact:</div>
                    <div class="home-title">{{ home[29] }}</div>
                    <div class="home-title">{{ home[30] }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}